* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.grid-css>* {
    box-shadow: -1px 1px 7px 0px rgb(0, 0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.menu {
    grid-area: menu;
}

.contenido {
    grid-area: contenido;
    background-color: bisque;
}

.footer {
    grid-area: footer;
    background-color: rgb(255, 253, 164);
}

.nav-link:hover {
    text-decoration: underline;
}

.dropdown-item:hover {
    text-decoration: underline;
}

.hipex{
    text-decoration: none;
}

.hipex:hover{
    text-decoration: underline;
}

/*Diseño para movil*/
.grid-css {
    display: grid;
    gap: 10px;
    grid-template:
        "menu" auto
        "contenido" auto 
        "footer" 200px
    ;
}

/*Diseño de tablet*/
@media (min-width: 600px) {
    .grid-css {
        grid-template:
            "menu menu" auto
            "contenido contenido" auto 
            "footer footer"
            200px / 200px auto
            /*Alto fila / Ancho de columnas*/
        ;
    }
}

/*Diseño para desktop*/
@media (min-width: 900px) {
    .grid-css {
        grid-template:
            "menu menu menu" 100px
            "contenido contenido contenido" auto
            "footer footer footer" 150px /
            450px auto 400px
        ;
    }

}